src/resultado9/
src/algoritmos/__pycache__/
src/classes/__pycache__/
baseLeitura15/
baseLeitura16/
env/
resultados/resultados/*
resultados/RAM/*
resultados/logs/*
resultados/logTempo/*
src/Execucao.txt
